<h1>Create Project</h1>
<form action="/project/create", method="post", role="form">
    <div class="form-group">
        <label for="name"> Name </label>
        <input class="form-control", id="name", type="text", name="name">
    </div>
    <div class="form-group">
        <label for="about"> About </label>
        <textarea class="form-control", id="about", name="about"></textarea>
    </div>
    <div class="form-group">
        <label for="description"> Description </label>
        <textarea class="form-control", id="description", name="description"></textarea>
    </div>
    <div class="form-group">
        <label for="url"> Url </label>
        <input class="form-control", id="url", type="text", name="url">
    </div>
        <button type="submit", class="btn btn-primary"> Create </button>
</form>

